<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="login.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html>
    <head>
        <title>STOPIFY</title>
    </head>
    <body>
       
        <div class="center">  <img src="logo2.png"></div>
         <hr>
         <br/>
         <h1 class="center"><b>To continue, log in to Stopify</b></h1>
         <br/>
         <br/>
         <br/>
         <button class='button'>LOG IN WITH FACEBOOK</button>
         <br/>
         <br/>
         <br/>
         <br/>
         <h1>OR</h1>
         <br/>
         <br/>
         <form >
             <input type="text" placeholder="E-mail address or username" class="upass"><br/><br/>
             <input type="password" placeholder="Password" class="upass">
             <br/>
             <br/>
             <button class='button_log'>
                 LOG IN
             </button>
             <br/>
             <br/>
             <br/>
             <a href="#" class='forgot'>Forgot your password?</a>
             
         </form>
        
         <br/>
         <br/>
         <br/>
         <br/>

        <h1 class='center'><b>Don't have an account?</b></h1>
        <br/>
        <br/>
        <button class="button_signUp">SIGN UP FOR SPOTIFY</button>
        <hr>
    </body>
</html>