.login-logo {
  width: 50;
  height: 50;
}

.login-wrapper {
  text-align: center;
  margin-top: 100px;
  padding: 5%;
}

.center_para {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.upass {
  width: 100%;
  font-size: 15px;
  padding: 10px;
}
.button_log {
  font-size: 16px;
  color: whitesmoke;
  font-family: sans-serif;

  padding: 10px;
  width: 60%;
  background-color: #1ed760;
  border-radius: 70px;
  border-style: none;
  transition-duration: 0.4s;
}

.button_log:hover {
  color: whitesmoke;

  background-color: #1ed760;
  border-style: none;
}

.button_signUp {
  background-color: white;
  border-color: #616467;
  border: 2px solid;
  border-radius: 500px;
  font-family: sans-serif;
  font-size: 16px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #616467;
  transition-duration: 0.4s;
}

.button_signUp:hover {
  background-color: #616467;
  color: white;
  border: 2px solid #616467;
}

/* Larger devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .login-wrapper {
    width: 40%;
    margin: auto;
    margin-top: 30px;
    padding: 10;
  }

  .login-logo {
    width: 150px;
    height: 100px;
    display: none;
  }

  .login-text1 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c706e;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
}
.separator::before {
  margin-right: 2em;
}
.separator::after {
  margin-left: 2em;
}
