.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c706e;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray;
}
.separator::before {
  margin-right: 2em;
}
.separator::after {
  margin-left: 2em;
}

.center {
  text-align: center;
}

.register-wrapper {
  padding: 5%;
  text-align: center;
  margin-top: 100px;
}

h2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
}

.formss {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 5px;
}
.DOB {
  font-weight: 500;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 14px;
}

.button_log {
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 18px;
  width: 100%;
  padding: 10px;
  background-color: rgb(61, 158, 61);
  border-radius: 40px;
}
.already {
  color: rgb(61, 158, 61);
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}
.last {
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #6c706e;
}

.log_in {
  background-color: #007fba;
  color: white;
  border-radius: 500px;
  border-style: none;
  font-size: 18px;
  transition-duration: 0.4s;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
}

.log_in:hover {
  background-color: #45adde;
}

/* Larger devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .register-wrapper {
    width: 40%;
    margin: auto;
    margin-top: 30px;
    padding: 10;
  }

  .login-logo {
    width: 150px;
    height: 100px;
    display: none;
  }
  .log_in {
    background-color: #007fba;
    color: white;
    border-radius: 500px;
    border-style: none;
    font-size: 18px;
    transition-duration: 0.4s;
    padding: 10px;
    padding-right: 75px;
    padding-left: 75px;
    float: right;
  }

  .ques {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
  }
}
