.center{
    text-align: center;
}

.register-wrapper{
  padding: 5%;
  text-align: center;
  margin-top: 100px;
}


h1 {
    display:flex;
    
  }
  h1:before, h1:after {
    color:white;
    content:'';
    flex:1;
    border-bottom:groove 2px;
    margin:auto 0.25em;
    box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
  }
  h2{
      text-align: center;
      font-family: sans-serif;
      font-size: 30px;
  }
  .formss{
    width:100%;
    padding:10px;
    
    font-size: 30px;
  }
  h3{
      font-family: sans-serif;
      font-size: 30px;
  }

  .button_log{
    color: whitesmoke;
    font-family: sans-serif;
    font-size:  26px;
    width: 60%;
    padding: 10px;
    background-color:rgb(61, 158, 61);
    border-radius:40px;

  }
  .already{
    color:rgb(61, 158, 61);
    font-size:30px;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
  }
  .last{
    font-size: 36px;
    font-family: sans-serif;
    text-decoration: none;
  }
  
/* Larger devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .register-wrapper{
    width: 40%;
    margin: auto;
    margin-top:30px;
    padding: 10;
  }

  .login-logo{
    width: 150px;
    height: 100px;
    display: none;
  }

}