.audio-progress{
    display: flex;
    width: 100%;
}


.slidecontainer{
    width: 100%;
}

.progress-label{
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #9d9d9d;   
    font-size: 0.85em;
}

/*For the seek bar*/
/*
 * Main
 */
 .mu_progress{
    margin: 0;
    margin-top: 4px;
    padding: 0;
    width: 100%;
    height: 4px;
    position: relative;
    cursor: pointer;
    background-color: #404040;
    border-radius: 1.1em;
}

.progress_btn,
.progress_bg{
    padding: 0;
    border-radius: 1.1em;
    position: absolute;
    left: 0;
}

/* 
 * Seekber Circle Button
 */
.progress_btn{
    margin: -4px 0 0 -2px;
    height: 12px;
    width: 12px;
    background: #ffffff;    
    z-index: 2;
    display: none;
}

.progress_btn:hover,
.progress_btn:active{
    background: #bbb;
}

/* 
 * Seekber Background
 */
.progress_bg{
    margin: 0;
    background-color: #8f8f8f;
    height: 100%;
    z-index: 1;
}

.mu_progress:hover >.progress_bg{
    background-color: #60bb56;
}

.mu_progress:hover >.progress_btn{
    display: inline;
}