.horizontal-container {
  cursor: pointer;
  display: block;
}

.title {
  color: white;
  font-size: 2em;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
