.top {
  background-color: rgba(0, 0, 0, 0.75);
  height: 58px;
  overflow: visible;
}

.logoimg {
  height: 48px;
  width: 150px;
}

.logo_content {
  padding-top: 5px;
  width: 50%;
  float: left;
  padding-right: 0px;
}

.profile_header {
  padding-top: 15px;
  padding-right: 0px;
  width: 50%;
  float: left;
}

.welcome {
  width: 82%;
  text-align: right;
  float: right;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 5px;
  color: white;
}

.profilepic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.dropdown {
  padding-top: opx;
  width: 18%;
  float: right;
}

.dropdown-item {
  cursor: pointer;
}

audio::-webkit-media-controls-play-button {
  color: white;
}

@media (min-width: 920px) {
  .top {
    background-color: rgba(0, 0, 0, 0.75);
    height: 74px;
    overflow: visible;
  }

  .profile_header {
    padding-top: 10px;
    padding-right: 0px;
    width: 30%;
    float: right;
    overflow: visible;
  }

  .logo_content {
    padding-top: 5px;
    width: 70%;
    float: left;
    padding-left: 10px;
  }
  .logoimg {
    height: 64px;
    width: 200px;
  }

  .profilepic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  .welcome {
    width: 90%;
    text-align: right;
    vertical-align: middle;
    float: right;
    font-size: 24px;
    padding-right: 20px;
    color: white;
  }

  .dropdown {
    width: 10%;
    float: right;
    padding-top: 10px;
  }
}
