.body {
  background-color: black;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(240, 234, 234, 0.9);
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid rgb(241, 224, 224);
}
.separator::before {
  margin-right: 2em;
  margin-left: 1em;
}
.separator::after {
  margin-left: 2em;
  margin-right: 1em;
}
.home {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.top {
  background-color: rgba(0, 0, 0, 0.75);
  height: 58px;
  overflow: visible;
}

.logoimg {
  height: 48px;
  width: 150px;
}

.logo_content {
  padding-top: 5px;
  width: 50%;
  float: left;
  padding-right: 0px;
}

.profile_header {
  padding-top: 15px;
  padding-right: 0px;
  width: 50%;
  float: left;
}

.welcome {
  width: 82%;
  text-align: right;
  float: right;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 5px;
  color: white;
}

.profilepic {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.dropdown {
  padding-top: opx;
  width: 18%;
  float: right;
}

.dropdown-item {
  cursor: pointer;
}

audio::-webkit-media-controls-play-button {
  color: white;
}

#grid-container {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
}

@media (min-width: 568px) and (max-width: 920px) {
  #grid-container {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 12px;
    background-color: black;
    padding: 10px;
  }
}

@media (min-width: 921px) {
  .top {
    background-color: rgba(0, 0, 0, 0.75);
    height: 74px;
    overflow: visible;
  }

  .profile_header {
    padding-top: 10px;
    padding-right: 0px;
    width: 30%;
    float: right;
    overflow: visible;
  }

  .logo_content {
    padding-top: 5px;
    width: 70%;
    float: left;
    padding-left: 10px;
  }
  .logoimg {
    height: 64px;
    width: 200px;
  }

  .profilepic {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }

  .welcome {
    width: 90%;
    text-align: right;
    vertical-align: middle;
    float: right;
    font-size: 24px;
    padding-right: 20px;
    color: white;
  }

  .dropdown {
    width: 10%;
    float: right;
    padding-top: 10px;
  }

  #grid-container {
    display: grid;
    grid-template-columns: 23.7% 23.7% 23.7% 23.7%;
    grid-gap: 20px;
    background-color: black;
    padding: 20px;
  }
}
