.total {
  position: fixed;
  bottom: 0;
  background-color: gray;
  width: 100%;
  overflow: hidden;
}

.artist {
  padding-top: 0px;
  width: 20%;
  float: left;
}

.artist_pic {
  padding: 16px 0px 16px 15px;
  width: 40%;
  float: left;
}

#pic {
  border: 2px solid;
  border-radius: 10%;
  width: 48px;
  height: 48px;
}

.artist_des {
  visibility: hidden;
  padding: 10px 0px 0px 10px;
  width: 60%;
  float: left;
}

.song_name {
  font-size: 6px;
  color: white;
}

.artist_name {
  font-size: 0px;
  color: white;
}

.player {
  width: 80%;
  float: left;
  text-align: center;
  padding-top: 18px;
}

#mplayer {
  width: 240px;
  height: 40px;
  transition-duration: 0.4s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-filter: hue-rotate(143deg) saturate(10);
  filter: hue-rotate(143deg) saturate(10);
}
audio::-webkit-media-controls-timeline {
  -webkit-filter: hue-rotate(143deg) saturate(10);
  filter: hue-rotate(143deg) saturate(107);
}

.volume {
  visibility: hidden;
  width: 0%;
  float: left;
}

@media only screen and (min-device-width: 521px) and (max-device-width: 720px) {
  .artist {
    padding-top: 10px;
    width: 30%;
    float: left;
  }

  .player {
    width: 70%;
    float: left;
    text-align: center;
    padding-top: 25px;
  }

  #mplayer {
    width: 300px;
    height: 50px;
    transition-duration: 0.4s;
  }

  .volume {
    visibility: hidden;
    width: 0%;
    float: left;
    text-align: right;
  }

  #pic {
    border: 2px solid;
    width: 40px;
    height: 40px;
  }

  .artist_des {
    visibility: visible;
    padding: 20px 0px 0px 20px;
    width: 60%;
    float: right;
  }

  .artist_name {
    visibility: hidden;
    font-size: 0px;
    color: white;
  }

  .song_name {
    font-size: 12px;
    color: white;
  }
}

@media only screen and (min-width: 721px) {
  .artist {
    width: 25%;
    float: left;
  }

  .player {
    width: 50%;
    float: left;
    text-align: center;
  }

  #mplayer {
    width: 500px;
    height: 50px;
    transition-duration: 0.4s;
  }

  .volume {
    visibility: visible;
    width: 25%;
    float: left;
    text-align: right;
  }

  #pic {
    border: 2px solid;
    width: 55px;
    height: 55px;
  }

  .artist_des {
    visibility: visible;
    padding: 10px 0px 0px 20px;
    width: 65%;
    float: left;
  }

  .artist_name {
    visibility: visible;
    font-size: 8px;
    color: white;
  }

  .artist_pic {
    padding: 15px 0px 0px 10px;
    width: 35%;
    float: left;
  }

  .song_name {
    font-size: 16px;
  }
  .artist_name {
    font-size: 12px;
  }
}
