.footer_part {
  min-height: 120px;
  color: white;
  background-color: black;
  padding: 10px;
  text-align: center;
}

.contents {
  text-align: center;
  width: 100%;
}

.contents a {
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  margin: 20px;
  font-size: 20px;
}

.contents a:hover {
  color: #1db954;
  text-decoration: none;
}

/* Larger devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .footer_part {
    min-height: 100px;
    color: white;
    background-image: url("./user_background.jpg");
    background-color: black;
    padding: 10px;
    text-align: center;
  }
}
