::-webkit-scrollbar {
  width: 15px;
  height: 15px !important;
}

::-webkit-scrollbar-track {
  background-color: #282828;
}

::-webkit-scrollbar-thumb {
  background: rgb(105, 105, 105);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 66, 66);
}

.song-wrapper {
  background-image: linear-gradient(to right, rgb(20, 20, 20), rgb(12, 12, 12));
  padding-top: 45px;
  width: 100%;
}
.sidebar-and-songs {
  width: 100%;
  display: block;
  position: relative;
}

.side-bar {
  position: fixed;
  display: block;
  flex-direction: column;
  width: 30%;
  height: 100%;
  color: white;
  background-color: black;
  /* background-color: #040404;    */
}

.music_lists {
  position: relative;
  float: right;
  display: flex;
  width: 70%;
  flex: 6;
  padding-bottom: 300px;
  background-image: linear-gradient(to right, rgb(20, 20, 20), rgb(12, 12, 12));
  height: 100%;
}

.settings {
  top: 0;
  right: 0;
  z-index: 10;
  padding-top: 80px;
  position: absolute;
  width: 80%;
  display: none;
  border-style: none;
}

.music-controller {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}

@media (min-width: 921px) {
  .side-bar {
    width: 15%;
  }
  .music_lists {
    width: 85%;
  }

  .song-wrapper {
    padding-top: 80px;
  }

  .settings {
    width: 85%;
  }
}
