/*Starting with the big screen*/
.song-card {
  background-color: #242323;
  width: 12em;
  height: 17em;
  padding: 1.25em;
  margin-right: 20px;
  text-align: center;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
}

.song-card:hover .song-button {
  display: block;
}

.song-image {
  width: 9.5em;
  height: 10em;
}

.song-name {
  padding: 8px 0px 8px 0px;
  text-align: left;
  color: blanchedalmond;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}

.song-author {
  color: rgb(156, 156, 156);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 13px;
  float: left;
}

.song-button {
  width: 40px;
  height: 40px;
  float: right;
  border-radius: 100%;
  border: none;
  background-color: #1db954;
  display: none;
  float: right;
  outline: none !important;
}
