.SearchWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #7f7f7f;
}

.searchTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  margin-top: 15px;
}

.notFoundLabel {
  width: 100%;
  text-align: center;

  margin-top: 15%;
}

.searchText {
  font-size: 24px;
  font-weight: 700;
}

.noResult {
  font-size: 22px;
  font-weight: 700;
  color: white;
}

.noResultBody {
  padding-top: 5px;
  font-size: 10px;
  margin: 0 4px 0 4px;
  letter-spacing: 0.25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

@media (min-width: 921px) {
  .searchTop {
    margin-left: -160px;
    margin-top: -60px;
    margin-bottom: 20px;
  }

  .searchText {
    font-size: 36px;
    font-weight: 700;
    color: white;
  }

  .noResult {
    font-size: 28px;
    font-weight: 700;
    color: white;
  }

  .noResultBody {
    padding-top: 5px;
    font-size: 14px;
    color: white;
  }
}
