.music-player{
  width: 100%;
  background-color:#282828;
  color: aliceblue;
  height:100px;
  display: flex;
}

/*Hiding this for small screen sizes*/
/* Smaller devices */
@media (max-width: 576px) {
  .label{
      display: none;
  }
}

.label{
  flex:1
}

.controller{
  flex:3
}