.about {
  padding-top: 15%;
  text-align: center;
  color: white;
  height: auto;
  width: auto;
  background-image: url("home_background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 80px;
  height: 100vh;
}
